<div class="container">
  <div>
    <div class="float-right">
      <button type="button" class="btn btn-primary mt-2" data-toggle="modal" data-target="#modalCarrinho">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i> Carrinho
      </button>
    </div>
    <h1>Loja virtual</h1>
  </div>
  <hr>

  <div class="list-group" *ngIf="produtos">
    <div class="list-group-item" *ngFor="let produto of produtos">
      <div class="float-right">
        <div class="badge badge-primary produto__preco">
          {{produto.preco | currency:'BRL'}}
        </div>
        <div>
          12 x {{(produto.preco/12) | currency:'BRL'}}
        </div>
        <br>
        <button class="btn btn-success" (click)="comprar(produto)" data-toggle="modal" data-target="#modalCarrinho">Comprar</button>
      </div>

      <img class="float-left rounded mr-3" [src]="'assets/' + produto.id + '/' + produto.imagemDeDestaque" alt=""
        width="200px">

      <div>
        <div>
          <strong>{{produto.nome}}</strong>
        </div>
        <span class="badge badge-secondary">{{produto.categoria}}</span>
        <div>{{produto.descricao}}</div>
      </div>
    </div>
  </div>

  <div class="alert alert-info" role="alert" *ngIf="!produtos">
    <strong>Aguarde!</strong> Os dados estão sendo carregados.
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="modalCarrinho" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Carrinho de compras</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Quantidade</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let produto of carrinho">
              <td scope="row">{{produto.nome}}</td>
              <td>{{produto.quantidade}}</td>
              <td>{{(produto.quantidade * produto.preco) | currency:'BRL'}}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="2">Total</td>
              <td>{{calcularTotalDoCarrinho() | currency:'BRL'}}</td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>